[Unit]
Description=Cloudflare Fast IP Backend (oneshot)
After=network.target

[Service]
Type=oneshot
ExecStart=cmd
WorkingDirectory=/run/v2ray_deploy
StandardOutput=journal
StandardError=journal
# 可选：防止脚本无限卡死（比如 CloudflareST 卡住）
TimeoutStartSec=1800
