[Unit]
Description=Timer to filter high speed ip for local optimization
[Timer]
OnUnitInactiveSec=100min
Persistent=true

[Install]
WantedBy=timers.target
