[Unit]
Description=Cloudflare Fast IP Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/run/v2ray_deploy
ExecStart=cmd
StandardOutput=journal
StandardError=journal
KillMode=control-group
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
