[Unit]
Description=Timer to restart the Proxy Management Service at 5:30 daily

[Timer]
OnCalendar=*-*-* 05:30:00
Persistent=true

[Install]
WantedBy=timers.target
