[Unit]
Description=Run Telegram probe every 10 seconds

[Timer]
OnBootSec=15s
OnUnitActiveSec=10s
AccuracySec=1s
Unit=sshd_v2-telegram-probe.service
Persistent=true

[Install]
WantedBy=timers.target
