[Unit]
Description=V2Ray node bench (no impact to v2ray.service config)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/local/bin/v2ray-bench-nodes --log-top 5 --top 5 --show-ip

